#mapCanvas {
  min-height: 200px;
  height: 100%;
}
#floating-panel {
  position: absolute;
  top: 0px;
  left: 25%; /* 10px; */
  z-index: 5;
  background-color: #fff;
  padding: 4px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  font-size: 8px;
  line-height: 18px;
}
