#mapCanvas {
  min-height: 150px;
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  display: flex;
  position: absolute;
  top: 5px;
  left: 15%;
  z-index: 5;
  text-align: center;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}

#radiusNum, #intensityNum, #opacityNum {
  font-weight: 800;
}
