<div flex layout="column" style="min-height: 400px; height: 100%;">
  <md-tabs md-border-bottom>
    <md-tab label="HeatMap">

      <div id="floating-panel">
        <button onclick="toggleHeatmap()">Heatmap</button>
        <button onclick="changeGradient()">Gradient</button>
        <button onclick="changeRadius()">Radius</button>
        <button onclick="changeOpacity()">Opacity</button>
        <button onclick="changeMaximum()">Max Value</button>
        <!--<button onclick="wsConn()">Telemetry</button>-->
      </div>
      <div id="mapCanvas"></div>
    </md-tab>

    <md-tab label="Telemetry"></md-tab>
  </md-tabs>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyDc8Z_XhUPpwU99YLs7C24Bd36_MawARJk&amp;libraries=visualization&amp;callback=initMap"></script>
